* {
  box-sizing: border-box;
}

html, body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
  overflow-y: hidden;
  z-index: 0;
}

.container {
  z-index: 0;
}

#map {
  z-index: 9999;
}

h1 {
  color: #525454;
  font-size: 22px;
  margin: 25px 25px 20px 80px;
  text-align: left;
}

.input-group {
  background: #fff;
  height: 100%;
  line-height: 35px;
  padding: 10px 10px 30px 10px;
  margin: 25px 20px 5px 80px;
  text-align: left;
  width: 340px;
  z-index: 1;
}

#listing-name {
  flex: 1;
  overflow: listing-name;
}

.informationWindow-container {
  height: 100%;
  width: 300px;
  position: relative;
  z-index: 1;
  display: flex;
  flex-flow: row wrap;
  padding: 10px;
}


#map {
  bottom: 0px;
  height: 100%;
  display: inline-block;
  left: 362px;
  position: absolute;
  right: 0px;
}

@media screen and (max-width: 765px) {

  .map-wrapper {
    width: 65%;
    margin-left: 35%;
  }

  .map-wrapper {
    width: 100%;
    margin: 0;
  }
}