* {
  box-sizing: border-box;
}

html, body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
  overflow-y: hidden;
  z-index: 0;
}

.container {
  z-index: 0;
}

.hamburger-icon {
  position: fixed;
  width: 50px;
  right: 0;
  top: 0;
  z-index: 50;
}

#drawer {
  width: 300px;
  position: absolute;
  -webkit-transform: translate(-300px, 0);
  transform: translate(-300px, 0);
  transition: transform 0.3s ease;
  background-color: rgba(255,255,255,0.5);
}

#drawer.open {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  z-index: 50;
}

h1 {
  color: #525454;
  font-size: 22px;
  margin: 25px 25px 20px 80px;
  text-align: left;
}

.input-group {
  background: #fff;
  height: 100%;
  width: 50px;
  padding: 0;
  text-align: left;
  z-index: 1;
}

/* #filter-text-box {

} */

#listing-name {
  flex: 1;
}

.informationWindow-container {
  height: 30%;
  width: 30%;
  position: relative;
  z-index: 1;
  display: flex;
  flex-flow: row wrap;
  padding: 10px;
  margin: 0;
}


#map {
  bottom: 0px;
  height: 100%;
  display: inline-block;
  left: 0px;
  position: absolute;
  right: 0px;
}

@media screen and (max-width: 765px) {

  .map-wrapper {
    width: 65%;
    margin-left: 35%;
  }

  .map-wrapper {
    width: 100%;
    margin: 0;
  }
}